@model IEnumerable<truYum1.Models.menu>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuItemsAdmin</title>
    <style>
        header {
            height: 80px;
            margin: 0;
            background-color: black;
        }

        .col-lg-1 {
            float: left;
            padding: 15px;
            font-size: 20px;
            color: darkviolet;
            width: 15%;
        }

        .col-lg-2 {
            float: left;
            padding: 15px;
            font-size: 20px;
            width: 15%;
        }

        .col-lg-3 {
            float: left;
            padding: 15px;
            font-size: 20px;
            width: 15%;
        }

        .col-lg-4 {
            float: left;
            padding: 15px;
            font-size: 20px;
            width: 15%;
        }

        .cr {
            padding-top: 20px;
        }

        td, th {
            padding-top: 10px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <header>
        <div class="col-lg-1">truYum</div>
        <div class="col-lg-2"> @Html.ActionLink("MenuItemsAdmin", "MenuItemsAdmin")</div>
        <div class="col-lg-3"> @Html.ActionLink("MenuItems", "MenuItems")</div>
        <div class="col-lg-4"> @Html.ActionLink("Cart", "Cart")</div>
    </header>
    <div class="cr">
        @Html.ActionLink("Create new item", "Create")
    </div>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Active</th>
                <th>Date of Launch</th>
                <th>Category</th>
                <th>Free Delivery</th>
                <th>Action</th>
            </tr>
            <tr>
                @foreach (var i in Model)
                {
                <tr>
                    <td>@i.name</td>
                    <td>@i.price</td>
                    <td><input type="checkbox" checked="@i.active" /></td>
                    <td>@i.date</td>
                    <td>@i.category</td>
                    <td><input type="checkbox" checked="@i.free" /></td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { name = i.name }) |
                    </td>
                </tr>
            }
                </tr>
            </table>
        </div>
    </body>
</html>


